<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924582190538-lfgvoljndd6veb43mnus0f8qan9567a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924582190538-lfgvoljndd6veb43mnus0f8qan9567a6</string>
	<key>API_KEY</key>
	<string>AIzaSyA7WxVguujR9tkSnxCHw4FMk_yazD2LxDw</string>
	<key>GCM_SENDER_ID</key>
	<string>924582190538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Legenda-759.Learning-Alamofire</string>
	<key>PROJECT_ID</key>
	<string>learningfirebase-25e30</string>
	<key>STORAGE_BUCKET</key>
	<string>learningfirebase-25e30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924582190538:ios:02fafa7cc216fe7cc6c333</string>
</dict>
</plist>